body {
    background-image: url("http://www.the007dossier.com/007Dossier/james-bond-wallpaper/007/007-evolution.jpg");
    font-family: 'Convergence';font-size: 22px;
  }

  .container {
    background-color: white; opacity: 0.5;
    margin-right: 20%;
    margin-left: 20%;
  
  }
  
  